# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example

# OS Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/

# AWS SAM
.aws-sam/
*.zip

# Next.js
.next/
out/
next-env.d.ts

# Misc
*.log
tmp/
debug.html
page.html
